/*   */

position: absolute;
width: 1200px;
height: 2778px;
left: 119px;
top: 197px;

/* Frame 971 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 789px;
height: 661px;
left: 0px;
top: 0px;

/* image 90 */

width: 789px;
height: 443px;

background: url(image.png);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 970 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 789px;
height: 198px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 968 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 789px;
height: 142px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* DATA – TRÁI TIM CỦA CÔNG NGHỆ CHUYỂN ĐỔI SỐ */

width: 623px;
height: 34px;

/* Deskop/Body/Extra Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Chuyển đổi công nghệ số đang trở thành xu hướng không thể tránh khỏi đối với các doanh nghiệp trong thời đại ngày nay. Với sự phát triển của 4.0 thì chuyển đổi số đã không còn là sự lựa chọn mà là con đường bắt buộc của những doanh nghiệp muốn thành công. Vậy phải làm thế nào? Dựa trên cái gì? Hãy cùng Miraway tìm hiểu */

width: 789px;
height: 96px;

/* Deskop/Body/Medium Text Regular */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Neutrals/4 */
color: #777e90;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 969 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 395px;

width: 789px;
height: 56px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* _ 07/07/2023_ Phạm Uyên_ 0 Comments */

width: 249px;
height: 19px;

/* Deskop/Body/Extra Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/5 */
color: #b1b5c3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 4px;

width: 145px;
height: 56px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 974 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 379px;
height: 365px;
left: 821px;
top: 0px;

/* image 92 */

width: 379px;
height: 213px;

background: url(image.png);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 973 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 379px;
height: 140px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Ứng dụng CDP phân tích nguyện vọng và hành vi của khách hàng lĩnh vực tài chính ngân hàng */

width: 379px;
height: 84px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Neutrals/2 */
color: #23262f;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 972 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 140px;

width: 379px;
height: 56px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* _ 07/07/2023_ */

width: 94px;
height: 19px;

/* Deskop/Body/Extra Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/5 */
color: #b1b5c3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 4px;

width: 145px;
height: 56px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 975 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 379px;
height: 365px;
left: 821px;
top: 397px;

/* image 93 */

width: 379px;
height: 213px;

background: url(image.png);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 973 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 379px;
height: 140px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Miraway tài trợ hội thảo IDG – Chuyển đổi số trong lĩnh vực Tài chính – Ngân hàng và Fintech – Dữ liệu cá nhân */

width: 379px;
height: 84px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Neutrals/2 */
color: #23262f;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 972 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 140px;

width: 379px;
height: 56px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* _ 07/07/2023_ */

width: 94px;
height: 19px;

/* Deskop/Body/Extra Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/5 */
color: #b1b5c3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 4px;

width: 145px;
height: 56px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 981 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 80px;

position: absolute;
width: 700px;
height: 1704px;
left: 0px;
top: 1074px;

/* Frame 978 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 700px;
height: 559px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 976 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 285px;

width: 700px;
height: 53px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Bài viết tiêu biểu */

margin: 0 auto;
width: 371px;
height: 53px;

/* Deskop/Heading/Heading 3 */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 120%;
/* identical to box height, or 53px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Arrows */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 88px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Left arrow */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 40px;
height: 40px;

border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* icons/Arrow Left 2/Line */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Shape */

position: absolute;
visibility: hidden;
left: 8.33%;
right: 8.33%;
top: 91.67%;
bottom: -75%;

/* Neutrals/1 */
background: #141416;
transform: rotate(-90deg);

/* vector (Stroke) */

position: absolute;
left: 79.17%;
right: -37.5%;
top: 29.17%;
bottom: 33.33%;

/* Neutrals/4 */
background: #777e91;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Right arrow */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 40px;
height: 40px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* icons/Arrow Right 2/Line */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Shape */

position: absolute;
visibility: hidden;
left: 8.33%;
right: 8.33%;
top: 91.67%;
bottom: -75%;

/* Neutrals/1 */
background: #141416;
transform: rotate(-90deg);

/* vector (Stroke) */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 29.17%;
bottom: 33.33%;

/* Neutrals/4 */
background: #777e91;

/* Frame 977 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 700px;
height: 466px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Card News */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 700px;
height: 217px;

/* Neutrals/8 */
background: #fcfcfd;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 877 */

width: 277px;
height: 217px;

border-radius: 24px 0px 0px 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* image 89 */

position: absolute;
width: 277px;
height: 217px;
left: 0px;
top: calc(50% - 217px / 2);

background: url(miraway-trien-khai-self-service-kiosk-cho-win-mart-601x520.jpg);
border-radius: 0px;

/* Frame 878 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 4px;

position: absolute;
width: 66px;
height: 35px;
left: 12px;
top: 10.5px;

background: rgba(20, 20, 22, 0.57);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;

/* Tin tức */

width: 42px;
height: 19px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/8 */
color: #fcfcfd;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 875 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 12px;

width: 423px;
height: 216px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* TƯNG BỪNG KHAI TRƯƠNG KIOSK TỰ PHỤC VỤ 24/7 */

width: 399px;
height: 56px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 876 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 399px;
height: 124px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Ngày 20/8 vừa qua, Công ty Cổ phần Miraway Giải pháp Công nghệ đã triển khai thành công Kiosk tự phục vụ 24/7 (Self – Service Kiosk) tại 30 cửa hàng lớn thuộc hệ thống Winmart+. */

width: 399px;
height: 72px;

/* Deskop/Body/Medium Text Regular */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Neutrals/4 */
color: #777e90;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 4px;

width: 113px;
height: 48px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Card News */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 700px;
height: 217px;

/* Neutrals/8 */
background: #fcfcfd;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 877 */

width: 277px;
height: 217px;

border-radius: 24px 0px 0px 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* image 89 */

position: absolute;
width: 277px;
height: 217px;
left: 0px;
top: calc(50% - 217px / 2);

background: url(miraway-trien-khai-self-service-kiosk-cho-win-mart-601x520.jpg);
border-radius: 0px;

/* Frame 878 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 4px;

position: absolute;
width: 66px;
height: 35px;
left: 12px;
top: 10.5px;

background: rgba(20, 20, 22, 0.57);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;

/* Tin tức */

width: 42px;
height: 19px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/8 */
color: #fcfcfd;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 875 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 12px;

width: 423px;
height: 216px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* TƯNG BỪNG KHAI TRƯƠNG KIOSK TỰ PHỤC VỤ 24/7 */

width: 399px;
height: 56px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 876 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 399px;
height: 124px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Ngày 20/8 vừa qua, Công ty Cổ phần Miraway Giải pháp Công nghệ đã triển khai thành công Kiosk tự phục vụ 24/7 (Self – Service Kiosk) tại 30 cửa hàng lớn thuộc hệ thống Winmart+. */

width: 399px;
height: 72px;

/* Deskop/Body/Medium Text Regular */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Neutrals/4 */
color: #777e90;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 4px;

width: 113px;
height: 48px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 979 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 700px;
height: 1065px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 976 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 285px;

width: 700px;
height: 53px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Bài viết mới nhất */

margin: 0 auto;
width: 372px;
height: 53px;

/* Deskop/Heading/Heading 3 */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 120%;
/* identical to box height, or 53px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Arrows */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 88px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Left arrow */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 40px;
height: 40px;

border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* icons/Arrow Left 2/Line */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Shape */

position: absolute;
visibility: hidden;
left: 8.33%;
right: 8.33%;
top: 91.67%;
bottom: -75%;

/* Neutrals/1 */
background: #141416;
transform: rotate(-90deg);

/* vector (Stroke) */

position: absolute;
left: 79.17%;
right: -37.5%;
top: 29.17%;
bottom: 33.33%;

/* Neutrals/4 */
background: #777e91;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Right arrow */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 40px;
height: 40px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* icons/Arrow Right 2/Line */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Shape */

position: absolute;
visibility: hidden;
left: 8.33%;
right: 8.33%;
top: 91.67%;
bottom: -75%;

/* Neutrals/1 */
background: #141416;
transform: rotate(-90deg);

/* vector (Stroke) */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 29.17%;
bottom: 33.33%;

/* Neutrals/4 */
background: #777e91;

/* Frame 977 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 700px;
height: 466px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Card News */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 700px;
height: 217px;

/* Neutrals/8 */
background: #fcfcfd;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 877 */

width: 277px;
height: 217px;

border-radius: 24px 0px 0px 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* image 89 */

position: absolute;
width: 277px;
height: 217px;
left: 0px;
top: calc(50% - 217px / 2);

background: url(miraway-trien-khai-self-service-kiosk-cho-win-mart-601x520.jpg);
border-radius: 0px;

/* Frame 878 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 4px;

position: absolute;
width: 66px;
height: 35px;
left: 12px;
top: 10.5px;

background: rgba(20, 20, 22, 0.57);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;

/* Tin tức */

width: 42px;
height: 19px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/8 */
color: #fcfcfd;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 875 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 12px;

width: 423px;
height: 216px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* TƯNG BỪNG KHAI TRƯƠNG KIOSK TỰ PHỤC VỤ 24/7 */

width: 399px;
height: 56px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 876 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 399px;
height: 124px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Ngày 20/8 vừa qua, Công ty Cổ phần Miraway Giải pháp Công nghệ đã triển khai thành công Kiosk tự phục vụ 24/7 (Self – Service Kiosk) tại 30 cửa hàng lớn thuộc hệ thống Winmart+. */

width: 399px;
height: 72px;

/* Deskop/Body/Medium Text Regular */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Neutrals/4 */
color: #777e90;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 4px;

width: 113px;
height: 48px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Card News */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 700px;
height: 217px;

/* Neutrals/8 */
background: #fcfcfd;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 877 */

width: 277px;
height: 217px;

border-radius: 24px 0px 0px 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* image 89 */

position: absolute;
width: 277px;
height: 217px;
left: 0px;
top: calc(50% - 217px / 2);

background: url(miraway-trien-khai-self-service-kiosk-cho-win-mart-601x520.jpg);
border-radius: 0px;

/* Frame 878 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 4px;

position: absolute;
width: 66px;
height: 35px;
left: 12px;
top: 10.5px;

background: rgba(20, 20, 22, 0.57);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;

/* Tin tức */

width: 42px;
height: 19px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/8 */
color: #fcfcfd;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 875 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 12px;

width: 423px;
height: 216px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* TƯNG BỪNG KHAI TRƯƠNG KIOSK TỰ PHỤC VỤ 24/7 */

width: 399px;
height: 56px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 876 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 399px;
height: 124px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Ngày 20/8 vừa qua, Công ty Cổ phần Miraway Giải pháp Công nghệ đã triển khai thành công Kiosk tự phục vụ 24/7 (Self – Service Kiosk) tại 30 cửa hàng lớn thuộc hệ thống Winmart+. */

width: 399px;
height: 72px;

/* Deskop/Body/Medium Text Regular */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Neutrals/4 */
color: #777e90;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 4px;

width: 113px;
height: 48px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 978 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 700px;
height: 466px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Card News */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 700px;
height: 217px;

/* Neutrals/8 */
background: #fcfcfd;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 877 */

width: 277px;
height: 217px;

border-radius: 24px 0px 0px 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* image 89 */

position: absolute;
width: 277px;
height: 217px;
left: 0px;
top: calc(50% - 217px / 2);

background: url(miraway-trien-khai-self-service-kiosk-cho-win-mart-601x520.jpg);
border-radius: 0px;

/* Frame 878 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 4px;

position: absolute;
width: 66px;
height: 35px;
left: 12px;
top: 10.5px;

background: rgba(20, 20, 22, 0.57);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;

/* Tin tức */

width: 42px;
height: 19px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/8 */
color: #fcfcfd;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 875 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 12px;

width: 423px;
height: 216px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* TƯNG BỪNG KHAI TRƯƠNG KIOSK TỰ PHỤC VỤ 24/7 */

width: 399px;
height: 56px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 876 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 399px;
height: 124px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Ngày 20/8 vừa qua, Công ty Cổ phần Miraway Giải pháp Công nghệ đã triển khai thành công Kiosk tự phục vụ 24/7 (Self – Service Kiosk) tại 30 cửa hàng lớn thuộc hệ thống Winmart+. */

width: 399px;
height: 72px;

/* Deskop/Body/Medium Text Regular */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Neutrals/4 */
color: #777e90;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 4px;

width: 113px;
height: 48px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Card News */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 700px;
height: 217px;

/* Neutrals/8 */
background: #fcfcfd;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 877 */

width: 277px;
height: 217px;

border-radius: 24px 0px 0px 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* image 89 */

position: absolute;
width: 277px;
height: 217px;
left: 0px;
top: calc(50% - 217px / 2);

background: url(miraway-trien-khai-self-service-kiosk-cho-win-mart-601x520.jpg);
border-radius: 0px;

/* Frame 878 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 4px;

position: absolute;
width: 66px;
height: 35px;
left: 12px;
top: 10.5px;

background: rgba(20, 20, 22, 0.57);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;

/* Tin tức */

width: 42px;
height: 19px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/8 */
color: #fcfcfd;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 875 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 12px;

width: 423px;
height: 216px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* TƯNG BỪNG KHAI TRƯƠNG KIOSK TỰ PHỤC VỤ 24/7 */

width: 399px;
height: 56px;

/* Deskop/Body/Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* or 28px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 876 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 399px;
height: 124px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Ngày 20/8 vừa qua, Công ty Cổ phần Miraway Giải pháp Công nghệ đã triển khai thành công Kiosk tự phục vụ 24/7 (Self – Service Kiosk) tại 30 cửa hàng lớn thuộc hệ thống Winmart+. */

width: 399px;
height: 72px;

/* Deskop/Body/Medium Text Regular */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Neutrals/4 */
color: #777e90;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 4px;

width: 113px;
height: 48px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 81px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 980 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 18px;
gap: 16px;

position: absolute;
width: 379px;
height: 112px;
left: calc(50% - 379px / 2 + 0.5px);
top: 862px;

/* Neutrals/8 */
background: #fcfcfd;
/* Neutrals/6 */
border: 1px solid #e6e8ec;
/* 1 */
box-shadow: 0px 12px 32px rgba(55, 129, 189, 0.1);
border-radius: 24px;

/* Social Media */

box-sizing: border-box;

width: 52px;
height: 52px;

/* Neutrals/6 */
border: 1.625px solid #e6e8ec;
border-radius: 1625px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Logo Container */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Subtract */

position: absolute;
width: 29.64px;
height: 20.8px;
left: 11.44px;
top: 15.6px;

/* Neutrals/4 */
background: #777e90;

/* Vector */

position: absolute;
left: 22%;
right: 21%;
top: 30%;
bottom: 30%;

/* Neutrals/8 */
background: #fcfcfd;

/* Polygon 3 */

position: absolute;
left: 59.87%;
right: 20.4%;
top: 40.13%;
bottom: 40.13%;

background: #d9d9d9;
transform: rotate(90deg);

/* Social Media */

box-sizing: border-box;

width: 52px;
height: 52px;

/* Neutrals/6 */
border: 1.625px solid #e6e8ec;
border-radius: 1625px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Logo Container */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Capa 2 */

position: absolute;
left: 37%;
right: 35.93%;
top: 25.11%;
bottom: 24.85%;

/* ELEMENTS */

position: absolute;
left: 37%;
right: 35.93%;
top: 25.11%;
bottom: 24.85%;

/* Vector */

position: absolute;
left: 37%;
right: 35.93%;
top: 25.11%;
bottom: 24.85%;

/* Neutrals/4 */
background: #777e90;

/* Group 16642 */

width: 71px;
height: 80px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Vector */

position: absolute;
left: 40.64%;
right: 52.27%;
top: 28.91%;
bottom: 52.58%;

background: #e55d4f;

/* Vector */

position: absolute;
left: 40.63%;
right: 52.28%;
top: 52.44%;
bottom: 29.05%;

background: #3283c3;

/* Vector */

position: absolute;
left: 48.15%;
right: 48.18%;
top: 59.77%;
bottom: 14.29%;

background: #77439a;

/* Vector */

position: absolute;
left: 52.27%;
right: 40.64%;
top: 52.5%;
bottom: 28.98%;

background: #e55d4f;

/* Vector */

position: absolute;
left: 52.28%;
right: 40.63%;
top: 29.07%;
bottom: 52.42%;

background: #3283c3;

/* Vector */

position: absolute;
left: 48.17%;
right: 48.15%;
top: 14.29%;
bottom: 59.76%;

background: #77439a;

/* Social Media */

box-sizing: border-box;

width: 52px;
height: 52px;

/* Neutrals/6 */
border: 1.625px solid #e6e8ec;
border-radius: 1625px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Logo Container */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 29%;
right: 29.16%;
top: 30.23%;
bottom: 29.74%;

/* Vector */

position: absolute;
visibility: hidden;
left: 20.28%;
right: 19.77%;
top: 20.05%;
bottom: 19.95%;

background: #006699;

/* Vector */

position: absolute;
left: 29%;
right: 29.16%;
top: 30.23%;
bottom: 29.74%;

/* Neutrals/4 */
background: #777e90;

/* Social Media */

box-sizing: border-box;

width: 52px;
height: 52px;

/* Neutrals/6 */
border: 1.625px solid #e6e8ec;
border-radius: 1625px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

/* Logo Container */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 16.24%;
right: 16.24%;
top: 16.24%;
bottom: 16.24%;

/* Group */

position: absolute;
left: 16.24%;
right: 16.24%;
top: 38.19%;
bottom: 38.19%;

/* Vector */

position: absolute;
left: 16.24%;
right: 64.24%;
top: 38.19%;
bottom: 38.29%;

/* Neutrals/4 */
background: #777e90;

/* Vector */

position: absolute;
left: 58.44%;
right: 37.45%;
top: 38.19%;
bottom: 38.29%;

/* Neutrals/4 */
background: #777e90;

/* Vector */

position: absolute;
left: 65.19%;
right: 16.24%;
top: 43.25%;
bottom: 38.19%;

/* Neutrals/4 */
background: #777e90;

/* Vector */

position: absolute;
left: 36.71%;
right: 44.83%;
top: 43.46%;
bottom: 38.19%;

/* Neutrals/4 */
background: #777e90;

/* Vector */

position: absolute;
left: 16.24%;
right: 16.24%;
top: 16.24%;
bottom: 16.24%;

/* Frame 984 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 422px;
height: 582px;
left: 792px;
top: 1695px;

/* Frame 982 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 113px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Magazines */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 8.17%;
bottom: 8.17%;

/* Vector */

position: absolute;
left: 0%;
right: 52.93%;
top: 19.76%;
bottom: 8.17%;

/* Secondary/6_Branding */
background: #e15e50;

/* Vector */

position: absolute;
left: 52.93%;
right: 0%;
top: 19.76%;
bottom: 8.17%;

/* Secondary/6_Branding */
background: #e15e50;

/* Vector */

position: absolute;
left: 5.86%;
right: 52.93%;
top: 8.17%;
bottom: 82.41%;

/* Secondary/6_Branding */
background: #e15e50;

/* Vector */

position: absolute;
left: 52.93%;
right: 5.86%;
top: 8.17%;
bottom: 82.41%;

/* Secondary/6_Branding */
background: #e15e50;

/* XEM THÊM */

width: 77px;
height: 21px;

/* Deskop/Body/Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 983 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 379px;
height: 538px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;

/* Thông báo Hợp tác chiến lược giữa Miraway – Bắc Hải – Viettelconstruction */

width: 379px;
height: 42px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Primary/6-Branding */
color: #0066e6;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;

/* Frame 992 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 379px;
height: 280px;
left: 821px;
top: 2338px;

/* Frame 982 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 66px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* tag 1 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 21.87%;
bottom: 21.88%;

/* Secondary/6_Branding */
background: #e15e50;
border-radius: 2.5px;

/* TAG */

width: 30px;
height: 21px;

/* Deskop/Body/Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Primary/9 */
color: #00295c;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 991 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 365px;
height: 240px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 985 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 338px;
height: 48px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 100px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

width: 36px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 112px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 48px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 94px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Button */

width: 30px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 990 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 287px;
height: 48px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 134px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

width: 70px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 137px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 73px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 256px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Button */

width: 192px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 989 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 365px;
height: 48px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 133px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

width: 69px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 4px;

width: 216px;
height: 48px;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

width: 152px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/1 */
color: #141416;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Miraway trên mạng xã hội */

position: absolute;
width: 568px;
height: 53px;
left: calc(50% - 568px / 2 + 1px);
top: 784px;

/* Deskop/Heading/Heading 3 */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 120%;
/* identical to box height, or 53px */

/* Primary/9 */
color: #00295c;

/* Main Forrm */

box-sizing: border-box;

position: absolute;
width: 441px;
height: 471px;
left: 752px;
top: 1077px;

/* Neutrals/8 */
background: #fcfcfd;
/* Neutrals/6 */
border: 1px solid #e6e8ec;
border-radius: 24px;

/* Frame 967 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 401px;
height: 272px;
left: calc(50% - 401px / 2);
top: 94px;

/* simple-input */

width: 401px;
height: 71px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* label */

position: absolute;
width: 57px;
height: 19px;
left: 0px;
top: 0px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/5 */
color: #b1b5c3;

/* single-input-field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
left: 0%;
right: 0%;
top: 32.39%;
bottom: 0%;

/* Neutrals/6 */
border: 2px solid #e6e8ec;
border-radius: 12px;

/* Input caption */

width: 369px;
height: 21px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* Neutrals/2 */
color: #23262f;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* simple-input */

width: 401px;
height: 94px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* label */

position: absolute;
width: 34px;
height: 19px;
left: 0px;
top: 0px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/5 */
color: #b1b5c3;

/* Email không hợp lệ! */

position: absolute;
width: 115px;
height: 19px;
left: 0px;
bottom: 0px;

/* Deskop/Body/Extra Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Secondary/6_Branding */
color: #e15e50;

/* single-input-field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
height: 48px;
left: 0%;
right: 0%;
top: 23px;

/* Secondary/6_Branding */
border: 2px solid #e15e50;
border-radius: 12px;

/* Frame 825 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 10px;

width: 369px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Input caption */

margin: 0 auto;
width: 141px;
height: 21px;

/* Deskop/Body/Small Text Medium */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* Secondary/6_Branding */
color: #e15e50;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* icons/Close Circle/Filled */

margin: 0 auto;
width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Shape */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutrals/4 */
background: #777e91;

/* simple-input */

width: 401px;
height: 71px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* label */

position: absolute;
width: 56px;
height: 19px;
left: 0px;
top: 0px;

/* Deskop/Body/Extra Small Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 160%;
/* or 19px */

/* Neutrals/5 */
color: #b1b5c3;

/* single-input-field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
height: 48px;
left: 0%;
right: 0%;
top: 23px;

/* Primary/1 */
border: 2px solid #3b71fe;
border-radius: 12px;

/* Cursor */

width: 1px;
height: 24px;

/* Neutrals/2 */
background: #23262f;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Input caption */

width: 358px;
height: 21px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

/* Đăng ký tài khoản viết bài */

position: absolute;
width: 315px;
height: 34px;
left: calc(50% - 315px / 2 + 5px);
top: 42px;

/* Deskop/Body/Extra Large Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */

/* Neutrals/1 */
color: #141416;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 8px;

position: absolute;
width: 401px;
height: 48px;
left: calc(50% - 401px / 2);
top: 387px;

/* Primary/6-Branding */
background: #0066e6;
border-radius: 12px;

/* Button */

width: 67px;
height: 24px;

/* Deskop/Body/Medium Text Bold */
font-family: "Be Vietnam Pro";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutrals/8 */
color: #fcfcfd;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
